@tailwind base;
@tailwind components;
@tailwind utilities;
 
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #486581; 
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  z-index: 10;
}

.left-aligned {
  display: flex;
  align-items: center;
}

.right-aligned {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo {
  width: 50px;
  height: auto;
}

.buttons {
  color: #bcccdc !important;
  padding: 0.5rem 1.5rem; 
  margin: 0 0.5rem; 
  font-size: 1.3rem; 
  font-weight: 500; 

  border-radius: 4px; 
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-0.25rem); 
    background-color: #f0f4f844; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  }

  &.active-link {
    color:#f0f4f8 !important; 
    font-weight: 900; 
  }
}

.slider {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #ffffff; 
  transition: left 0.3s ease, width 0.3s ease;
  width: 0; 
  left: 20;
  border-radius: 2px;
}
