<div class="h-screen flex flex-col bg-[#2d3748] text-[#f0f4f8]">
    <div class="flex-none p-4 text-center text-xl font-bold bg-[#486581]">
      Reservations
    </div>
    <div 
      class="flex-grow overflow-y-auto p-6 grid gap-6"
      style="max-height: calc(100vh - 4rem);"
    >
      <div 
        *ngFor="let reservation of reservations()" 
        class="p-4 bg-[#202936] rounded-lg shadow-md border border-[#bcccdc]"
      >
        <div class="grid grid-cols-2 items-center gap-4">
          <div>
            <p><span class="font-semibold">Team Name:</span> {{ reservation.team_name }}</p>
            <p><span class="font-semibold">Start Time:</span> {{ time(reservation.start_time) }}</p>
            <p><span class="font-semibold">End Time:</span> {{ time(reservation.end_time) }}</p>
            <p><span class="font-semibold">Room:</span> {{ reservation.room }}</p>
            <p><span class="font-semibold">Computers:</span> {{ reservation.computers }}</p>
            <p><span class="font-semibold">Reason:</span> {{ reservation.reason }}</p>
          </div>
          <button 
            mat-button 
            class="justify-self-end text-gray-400 hover:text-red-500 transition duration-300"
            (click)="deleteReservation(reservation)"
          >
            <mat-icon class="text-2xl">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="flex my-4 mx-8">
        <button mat-button class="flex-auto mx-3 bg-white text-black underline-offset-2 decoration-black shadow-md
        transition ease-in-out delay-15 duration-300 hover:-translate-y-1 hover:scale-110 hover:underline hover:shadow-slate-500" 
        (click)="onNoClick()">Close</button>
      </div>
  </div>
