@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    color: #f0f4f8;
    gap: 4px;
  }