<div class="w-full h-full flex flex-col bg-slate-800">
    <header class="text-center mt-1">
        <h1 class="text-white">Match Details</h1>
    </header>
    <div class="h-2/5 flex items-center justify-evenly ml-5 mr-5 bg-slate-900 rounded-md" id="match-scores">
        <div class="text-center w-1/4 h-1/5">
            <h3 class="text-blue-500">{{data.match.score.homeScore}}</h3>
            <p class="text-white">{{data.teamName}}</p>
        </div>

        <div class="text-center mx-4 ">
            <p class="text-gray-400 text-xl font-bold">VS</p>
          </div>

        <div class="text-center w-1/4 h-1/5">
            <h3 class="text-red-500">{{data.match.score.opponentScore}}</h3>
            <p class="text-white">{{data.match.teams.opponent}}</p>
        </div>
    </div>
    <div class="h-1/3 border ml-5 mr-5 mt-4" id="match-additional-info" >
        <div id="stream">
            <a href="{{data.match.match_logistics.stream_url}}">Stream</a>
        </div>

        @for (link of data.match.match_logistics.match_urls; track link){
            <a>Match Details</a>
            <a href="{{link}}">tracker</a>
        }
    </div>
</div>